

/*--Universal Reset cssresetr.com--*/
 /*----Color Swatch--------
#87d4f2;/*light blue
brown  #c69c6d
blk    #000
wht    #fff
orange #ff8c00
grey # c2c2c2
--------*/

  
#wrapper{
  	width:100%;/*960px*/
	margin: 0 auto;  
  }
  header{
  	background-color: #fff;	 
  }
  #logo{
	margin-top: 0%;
	float: left;
 
 
  }
  #sub_header{
  	background-color: #ff8c00; /*orange*/
  }
  #address{
  	background-color: #c2c2c2;/*grey*/
  }
  
 /* body or a id="wrapper*/
 /*Universal Reset CSSresetr.com {padding: 0; margin: 0;}*/
  body{
 	color: #323232;
	font:100%/1.5 Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height: 1.5;
	max-width: 960px;
	margin: 0 auto;
	padding: 0; 
	background: #c69c6d;/*brown*/
}
/*----------------Special request------------------------------- */
 .stop_float{
	clear: both;
 }
/*----------------horizontal menu------------------------------- */
 nav#menu ul{
	width:750px;
	margin:0 auto;
	list-style-type:none; 
	padding:0;
	overflow:hidden;	
}	
nav#menu li{
	width:125px;
	text-align:left;
	float: left;
	background:#d0000d;/*red*/
}
nav#menu a{
	text-decoration:none;
	display: block;
	height: 90px;
	line-height:90px;
	text-align:center;
/*used default color blue*/
 }
 nav#menu a:visited{
 	color:blue;
 	background:yellow;
 }
 nav#menu a:hover{
 	color:#fff;/*white*/
	background:#d0000d;/*red*/
 }
 nav#menu a:active{
 	color:#00FF00;
 	background:#40E0D0;
 	}

 /*----------------Header Adj------------------------------- */
  h1, h2, h3, h4, h5, h6{
	 margin:0;
	 padding: 15px 02.0833333333333% 0px;/*20px/960px*/
  }
  h2, h3, h4, h5, h6{
  color: #fff;
  font:100%/1.5 Verdana;
  font-size:18px;
  }
  /*-------Content------*/
   .content{
  color: #fff;
  font-size:12px;
  font:Verdana;
  background: #000; /*blk*/
   
  border:5px #000 solid; /*boarder value in px, thin, medium, or thick/*/ 
  }
  
  /*---------------- Images on Page------------------------------- */
 img#first{
 	 
 	float: left;
 	width: 39.583333333333%;/*380px/960px*/
 } 
   img#second{
 	border: 5px solid #333;
 	width: 39.583333333333%;/*380px/960px*/
 } 
  img#third{
 	border: 5px solid #333;
 	width: 39.583333333333%;/*380px/960px*/
 } 
  img#forth{
 	border: 5px solid #333;
 	width: 39.583333333333%;/*380px/960px*/
 } 
 img#fifth{
 	border: 5px solid #333;
 	width: 39.583333333333%;/*380px/960px*/
  }
 .blk{
 	color: #000; /*blk*/
 }
 /*----------------Special request------------------------------- */
 .stop_float{
	clear: both;
 }
 img{
 	max-width: 100%;
 }
/*------------------Form-------------------------------------*/
 .form{ 
 	width: 57.279166666667%;/*550px/960px*/
 	margin: 0 auto;
 	padding: 25px;
  
 }
  /*----------------Three section Paragraph------------------------------- */
 	#par{
 	-moz-column-count:3;
	-moz-column-gap: 25px;
	border:5px #000 solid; /*boarder value in px, thin, medium, or thick/*/ 
	background: #000; /*blk*/	 
	padding: 5px;
	border:25px;
   color: #fff;
   font-size:12px;
   font:Verdana;
  
 
 }
 #last_par{
 	font-size:12px;
    font: Verdana;
 }
 /*----------------Footer------------------------------- */ 
  footer{clear:both;
	margin-top:1em;
	background:#999;
 }
  /* =Media Queries
 ======================================================*/
 
 /* Tablet Portrait size to standard 960 (devices and browsers)*/
 	@media screen and (min-width:768px) and (max-width:959px){
 		#wrapper{
 			background-color: #509cff;
 }
		  
 		#main_gallery{
 		float: left;		 
 			width: 100%;
 			
 }
  		#main_gallery a{
			width: 80%;
 }
 		#main_gallery li{
 			margin-left: 10px;
 }
 }	
 /* Mobile Landscape Size to Tablet Portrait(devices and browsers)*/
 	@media only screen and (min-width:480px) and (max-width:767px){
 		#wrapper{
 			background-color: #ff7743;
 } 
 		#par {
    		-moz-column-count: 1;
    		-moz-column-gap: 0
 }
		img#first{
			float: none;
 }
 		#main_gallery{
 			margin-left: 35px;
 }
		#main_gallery a{
			float: none;
			width: 90%;
 }
 		footer{
  			font-family: 'Pacifico', cursive;
 }
 		img#first{
 			border: 5px solid #fff;
 			float: none;
 } 
 		textarea{
 			width: 100%;
 }	
 		.table{
 			width: 90%;
 }
 }
 	 
 /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
 	@media only screen and (max-width:479px){
 		#wrapper{
 			background-color: #d593ff;
 /* additional options img#first{display: none;}section, aside {float:none;}*/
 }
 		#par {
    		-moz-column-count: 1;
    		-moz-column-gap: 0
 }
		img#first{
			display: none;
 }
 		#main_gallery{
 			margin-left: 35px;
 }
 		#main_gallery a{
			width: 90%;
 }
 		.form{
 			background-color: #d0000d;
 			width: 80%; 
 			padding: 25px;
 			border: 5px solid #fff;/*10px/550px*/
 }
 		textarea{
 			width: 100%;
 }	
 		.table{
 			width: 90%;
 			font-size:12px;
 }
		footer{
  			font-family: 'Pacifico', cursive;
 }
 }
 
 
 
 
  