

/*--Universal Reset cssresetr.com--*/
 
  
#wrapper{
  	width:90%;/*960px*/
	margin: 0 auto;  
  }
  header{
  	background-color:rgba(0,0,255,0.5);	 
  }
  #sub_header{
  	background: #ff8c00;
  }
 /* body or a id="wrapper*/
 /*Universal Reset CSSresetr.com {padding: 0; margin: 0;}*/
  body{
 	color: #323232;
	font:100%/1.5 Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height: 1.5;
	max-width: 960px;
	margin: 0 auto;
	padding: 0; 
	background: #c69c6d;/*brown*/
}
 
 /*----------------Header Adj------------------------------- */
  h1, h2, h3, h4, h5, h6{
	 margin:0;
	 padding: 15px 02.0833333333333% 0px;/*20px/960px*/
  }
 
/*------------------Form-------------------------------------*/
 input:focus{
		background:#FFFF00;
 }
 .form{
 	background-color: #d0000d;
 	width: 57.279166666667%;/*550px/960px*/
 	margin: 0 auto;
 	padding: 25px;
 	border: 10px solid #fff;/*10px/550px*/
 }
  /*----------------Three section Paragraph------------------------------- */
 #par{
 	-moz-column-count:3;
	-moz-column-gap: 25px;
	background: #D3D3D3; /*grey*/
	border:5px #000000 solid; /*boarder value in px, thin, medium, or thick/*/ 
	border-radius:1.041666666667%; /*10px/960px*/
 }
 /* =Media Queries
 ======================================================*/
 
  